/* Default - all screens */
html, body {
  height: 100%;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.3em;
}

.nav-tabs li {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

.game-practice-area {
  background-color: #63737b;
  min-height: 100%;
  overflow: hidden;
}
.game-practice-area h2 {
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #68CBDA;
  -webkit-text-stroke-width: 2px;
}
.game-practice-area .nav-tabs {
  background-color: #63737b;
}
.game-practice-area .nav-tabs li a {
  border: none;
  background-color: rgba(186, 234, 255, 0.3);
}
.game-practice-area .nav-tabs li a:hover, .game-practice-area .nav-tabs li a:visited, .game-practice-area .nav-tabs li a:focus {
  background-color: #BAEAFF;
  border: none;
  color: #000000;
}
.game-practice-area .nav-tabs .active a {
  background-color: #BAEAFF;
  border: none;
}
.game-practice-area .nav-tabs .active a:focus, .game-practice-area .nav-tabs .active a:hover, .game-practice-area .nav-tabs .active a:visited {
  border: none;
}
.game-practice-area .task-tab-content {
  background-color: #FAFAFA;
  border-top: 10px solid #68CBDA;
  border-bottom: 10px dashed #63737b;
  border-left: 10px solid #68CBDA;
  border-right: 10px solid #68CBDA;
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  -ms-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
.game-practice-area .tabs-left .nav-tabs {
  border-right: 10px solid #68CBDA;
}

.game-challenge-area {
  background-color: #63737b;
  min-height: 100%;
  overflow: hidden;
}
.game-challenge-area h2 {
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #ffbc95;
  -webkit-text-stroke-width: 2px;
}
.game-challenge-area .nav-tabs {
  background-color: #63737b;
}
.game-challenge-area .nav-tabs li a {
  border: none;
  background-color: rgba(255, 221, 154, 0.3);
}
.game-challenge-area .nav-tabs li a:hover, .game-challenge-area .nav-tabs li a:visited, .game-challenge-area .nav-tabs li a:focus {
  background-color: #ffdd9a;
  border: none;
  color: #000000;
}
.game-challenge-area .nav-tabs .active a {
  background-color: #ffdd9a;
  border: none;
}
.game-challenge-area .nav-tabs .active a:focus, .game-challenge-area .nav-tabs .active a:hover, .game-challenge-area .nav-tabs .active a:visited {
  border: none;
}
.game-challenge-area .task-tab-content {
  background-color: #FAFAFA;
  border-top: 10px solid #ffbc95;
  border-bottom: 10px dashed #63737b;
  border-left: 10px solid #ffbc95;
  border-right: 10px solid #ffbc95;
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  -ms-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}
.game-challenge-area .tabs-left .nav-tabs {
  border-right: 10px solid #ffbc95;
}

/*
.game-challenge-header-area {
  height: 75px;
}*/
.home {
  background-color: #63737b;
}

.home-header-area {
  background-color: rgba(94, 114, 178, 0.5);
  height: 25vh;
  position: relative;
}
.home-header-area .home-header-area-content {
  color: #ffffff;
  text-align: center;
  padding-top: 5vh;
}

.home-practice-area {
  background-color: #BAEAFF;
  height: 75vh;
  position: relative;
}
.home-practice-area h3 {
  position: absolute;
  top: 35%;
  left: 20%;
  text-align: center;
  font-size: 7vw;
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #68CBDA;
  -webkit-text-stroke-width: 4px;
}
.home-practice-area:hover {
  background-color: rgba(186, 234, 255, 0.8);
}

.home-challenge-area {
  background-color: #ffdd9a;
  height: 75vh;
  position: relative;
}
.home-challenge-area h3 {
  position: absolute;
  top: 35%;
  left: 16%;
  text-align: center;
  font-size: 7vw;
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #ffbc95;
  -webkit-text-stroke-width: 4px;
}
.home-challenge-area:hover {
  background-color: rgba(255, 221, 154, 0.8);
}

.set-timer {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
}

.timer .countdown {
  background-color: rgba(253, 255, 227, 0.5);
  padding: 20px 1px 10px 10px;
  border: 1px solid #ececec;
  border-radius: 8px;
}
.timer .countdown .item {
  font-size: 27px;
}
.timer .countdown .item-hh {
  display: none;
}
.timer .countdown .label {
  text-transform: uppercase;
  color: #000000;
  font-size: 15px;
  font-weight: normal;
}

.game-area {
  margin-bottom: 10px;
  position: relative;
}
.game-area .start-challenge {
  display: none;
}
.game-area .tab-content .task-tab-content .challenge {
  font-weight: bold;
}
.game-area .tab-content .task-tab-content .part-of-speech {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
.game-area .tab-content .task-tab-content .part-of-speech-definition {
  font-style: italic;
}
.game-area .tab-content .task-tab-content .text {
  margin-bottom: 0;
}
.game-area .tab-content .task-tab-content .text a {
  cursor: pointer;
}
.game-area .tab-content .task-tab-content .text .word {
  border: none;
  padding: 4px;
  background-color: transparent;
  display: inline-block;
  color: #000000;
}
.game-area .tab-content .task-tab-content .text .correct {
  color: #43D01C;
  background-color: rgba(67, 208, 28, 0.05);
  pointer-events: none;
  cursor: not-allowed;
}
.game-area .tab-content .task-tab-content .text .correct:hover {
  color: #43D01C;
}
.game-area .tab-content .task-tab-content .text .wrong {
  pointer-events: none;
  cursor: not-allowed;
  color: #DD3970;
  background-color: rgba(221, 57, 112, 0.05);
}
.game-area .tab-content .task-tab-content .text .wrong:hover {
  color: #DD3970;
}
.game-area .tab-content .task-tab-content .text .disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.game-area .tab-content .task-tab-content .text .disabled:hover {
  text-decoration: none;
}
.game-area .tab-counter {
  font-size: 30px;
}

.current-score, .total-current-score {
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #43D01C;
  -webkit-text-stroke-width: 1px;
}

.current-score-slash, .total-current-score-slash {
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #ececec;
  -webkit-text-stroke-width: 1px;
}

.tab-counter, .current-score-tab-counter, .total-tab-counter {
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #0d003e;
  -webkit-text-stroke-width: 1px;
}

.btn-home, .btn-challenge, .btn-practice {
  text-align: left;
  color: #000000;
  border: none;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}
.btn-home:hover, .btn-home:visited, .btn-home:focus, .btn-challenge:hover, .btn-challenge:visited, .btn-challenge:focus, .btn-practice:hover, .btn-practice:visited, .btn-practice:focus {
  border: none;
}

.btn-home {
  margin-left: -30px;
  margin-top: 60px;
  width: 120px;
  background-color: #5e72b2;
}
.btn-home:hover, .btn-home:visited, .btn-home:focus {
  background-color: #8190c3;
}

.btn-challenge {
  margin-left: -125px;
  margin-top: 180px;
  width: 150px;
  background-color: #ffdd9a;
}

.btn-practice {
  margin-left: -125px;
  margin-top: 180px;
  width: 150px;
  background-color: #BAEAFF;
}

.modal-header {
  background-color: rgba(67, 208, 28, 0.05);
}

.modal-title {
  color: #40c71b;
}

.message {
  color: #000000;
  margin-left: 10px;
  padding-top: 10px;
}

.congratsMsg {
  font-style: italic;
  margin-left: 20px;
  padding-bottom: 10px;
}

/* Large Screens */
@media screen and (min-width: 750px) {
  .tabs-right > .nav-tabs li a, .tabs-left .nav-tabs li a {
    min-width: 74px;
    margin-bottom: 3px;
  }

  .score-panel {
    min-height: 420px;
    width: 200px;
    background-color: #ffffff;
    border: 5px solid #ffd829;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -ms-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
  }
  .score-panel .score-screen {
    background-color: #000000;
    min-height: 310px;
    margin-top: 45px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .score-panel .power-btn {
    width: 40px;
    height: 40px;
    border: 3px solid #ffd829;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .counter {
    text-align: right;
    font-size: 45px;
    margin-right: 10px;
    background-color: #000000;
    padding: 0 12px 0 10px;
    position: absolute;
    top: 140px;
    right: -210px;
    z-index: 9999;
  }

  .total-counter {
    display: inline-block;
    float: right;
    font-size: 35px;
    padding: 0 7px;
    background-color: #000000;
  }

  .tabs-below > .nav-tabs {
    border-bottom: 0;
    border-top: 1px solid lightgray;
  }
  .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
  }
  .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
  .tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: lightgray;
    border-bottom-color: transparent;
  }
  .tabs-below > .nav-tabs > .active > a {
    background-color: #BAEAFF;
  }

  .tabs-right > .nav-tabs {
    padding-top: 20px;
    height: 75vh;
    min-height: 600px;
    border-bottom: 0;
    float: right;
    margin-left: 19px;
  }
  .tabs-right > .nav-tabs li {
    float: none;
    text-align: left;
  }
  .tabs-right > .nav-tabs li a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  .tabs-right > .nav-tabs li a:hover, .tabs-right > .nav-tabs li a:hover {
    border-color: #ececec;
  }
  .tabs-right > .nav-tabs .active > a {
    background-color: #BAEAFF;
  }

  .tabs-left .nav-tabs {
    height: 75vh;
    min-height: 600px;
    padding-top: 20px;
    border-bottom: 0;
    float: left;
  }
  .tabs-left .nav-tabs li {
    float: none;
    text-align: right;
    margin-bottom: 5px;
    margin-right: -13px;
  }
  .tabs-left .nav-tabs li a {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }
  .tabs-left .nav-tabs .active {
    margin-right: -25px;
  }
  .tabs-left .nav-tabs .active a {
    padding-right: 27px;
  }
  .tabs-left .task-tab-content {
    padding: 35px 40px 20px 210px;
  }

  .tab-content .tab-pane {
    display: none;
  }
  .tab-content .active {
    display: block;
  }

  .pill-content .pill-pane {
    display: none;
  }
  .pill-content .active {
    display: block;
  }

  .tab-content {
    border-width: 1px 1px 1px 0;
  }
  .tab-content .task-tab-content {
    height: 75vh;
    min-height: 600px;
  }
}
/* Small Screens */
@media screen and (max-width: 992px) {
  .score-panel {
    display: none;
  }

  .counter {
    text-align: right;
    font-size: 35px;
    margin-right: 10px;
    background-color: #000000;
    padding: 0 12px 0 10px;
    position: fixed;
    top: 20px;
    right: 50px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #ffd829;
  }

  .btn-home, .btn-challenge {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  .btn-challenge {
    margin-left: 20px;
  }

  .btn-home {
    margin-left: 20px;
  }

  .task-tab-content {
    margin-top: 10px;
  }
}
@media screen and (max-width: 749px) and (orientation: portrait) {
  .counter {
    margin-right: 10px;
    position: fixed;
    top: 70px;
    right: 20px;
  }

  .home-header-area-content h2 {
    font-size: 2.1em;
  }

  .game-challenge-area h2, .game-practice-area h2 {
    font-size: 2.8em;
  }

  h5 {
    font-size: 1.6em;
  }

  .text {
    font-size: 1.5em;
  }

  .nav-tabs {
    font-size: 1.2em;
    border: none !important;
  }
  .nav-tabs li {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .nav-tabs li a {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  .task-tab-content {
    padding: 15px 30px;
  }

  .game-practice-area .task-tab-content {
    border-top: 5px solid #68CBDA;
    border-bottom: 5px dashed #63737b;
    border-left: 5px solid #68CBDA;
    border-right: 5px solid #68CBDA;
  }

  .game-challenge-area .task-tab-content {
    border-top: 5px solid #ffbc95;
    border-bottom: 5px dashed #63737b;
    border-left: 5px solid #ffbc95;
    border-right: 5px solid #ffbc95;
  }

  .home-header-area {
    background-color: #5e72b2;
    height: 35vh;
    position: relative;
  }
  .home-header-area .home-header-area-content {
    padding-top: 3vh;
  }

  .home-practice-area {
    background-color: #BAEAFF;
    height: 65vh;
    position: relative;
  }
  .home-practice-area h3 {
    text-align: center;
    font-size: 7vw;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: #68CBDA;
    -webkit-text-stroke-width: 1.5px;
  }

  .home-challenge-area {
    background-color: #ffdd9a;
    height: 65vh;
    position: relative;
  }
  .home-challenge-area h3 {
    text-align: center;
    font-size: 7vw;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: #ffbc95;
    -webkit-text-stroke-width: 1.5px;
  }
}
@media screen and (max-width: 749px) and (orientation: landscape) {
  .home-header-area-content h2 {
    font-size: 2.1em;
  }

  .game-challenge-area h2, .game-practice-area h2 {
    font-size: 2.8em;
  }

  h5 {
    font-size: 1.6em;
  }

  .text {
    font-size: 1.5em;
  }

  .nav-tabs {
    font-size: 1.2em;
    border: none !important;
  }
  .nav-tabs li {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .nav-tabs li a {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  .task-tab-content {
    padding: 15px 30px;
  }

  .game-practice-area .task-tab-content {
    border-top: 5px solid #68CBDA;
    border-bottom: 5px dashed #63737b;
    border-left: 5px solid #68CBDA;
    border-right: 5px solid #68CBDA;
  }

  .game-challenge-area .task-tab-content {
    border-top: 5px solid #ffbc95;
    border-bottom: 5px dashed #63737b;
    border-left: 5px solid #ffbc95;
    border-right: 5px solid #ffbc95;
  }

  .home-header-area {
    background-color: #5e72b2;
    height: 50vh;
    position: relative;
  }
  .home-header-area .home-header-area-content {
    padding-top: 1vh;
  }

  .home-practice-area {
    background-color: #BAEAFF;
    height: 50vh;
    position: relative;
  }
  .home-practice-area h3 {
    position: absolute;
    top: 15%;
    left: 20%;
    text-align: center;
    font-size: 7vw;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: #68CBDA;
    -webkit-text-stroke-width: 1.5px;
  }

  .home-challenge-area {
    background-color: #ffdd9a;
    height: 50vh;
    position: relative;
  }
  .home-challenge-area h3 {
    position: absolute;
    top: 15%;
    left: 20%;
    text-align: center;
    font-size: 7vw;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: #ffbc95;
    -webkit-text-stroke-width: 1.5px;
  }
}

/*# sourceMappingURL=app.css.map */
