$color-lightest: #ffffff;
$color-greyscale: #ececec;
$color-darkest: #000000;

$color-background: #56626A;
$color-inactive: #ececec;
$color-background-header: #63737b;
$color-background-practice: #63737b;
$color-practice: #68CBDA;
$color-background-challenge: #63737b;
$color-challenge: #ffbc95;

$color-paper: #FAFAFA;

$color-correct: #43D01C;
$color-wrong: #DD3970;
$color-btn: transparent;
$color-counter: #0d003e;
$color-timer: #fdffe3;

$color-phone-border: #ffd829;
$color-tablet-border: #cfc9bf;

$color-tablet: #000000;
//0D1129

$color-sticky-practice: #BAEAFF;
$color-sticky-challenge: #ffdd9a;

$color-home: #5e72b2;

@mixin vertical-align($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin home-area-setup($color-back, $height) {
  background-color: $color-back;
  height: $height;
  position: relative;
}

@mixin font-stroke($color-text, $color-stroke, $stroke-width) {
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: $color-text;
  -webkit-text-stroke-color: $color-stroke;
  -webkit-text-stroke-width: $stroke-width;
}

@mixin h3-style($align, $color-text, $font-size, $stroke-size) {
  text-align: $align;
  font-size: $font-size;

  @include font-stroke($color-lightest, $color-text, $stroke-size);

}

@mixin background($color-back, $color-h2) {
  background-color: $color-back;
  min-height: 100%;
  overflow: hidden;
  h2 {
    @include font-stroke($color-lightest, $color-h2, 2px)
  }
}

@mixin border-radius($top-radius, $right-radius, $bottom-radius, $left-radius) {
  -webkit-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  -moz-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  -ms-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  border-radius: $top-radius $right-radius $bottom-radius $left-radius;
}

@mixin color-theme($color-sticky-theme, $color-background-theme, $color-theme) {

  @include background($color-background-theme, $color-theme);

  .nav-tabs {
    background-color: $color-background-theme;

    li {
      a {
        border: none;
        background-color: transparentize($color-sticky-theme, 0.7);
        &:hover, &:visited, &:focus {
          background-color: $color-sticky-theme;
          border: none;
          color: $color-darkest;
        }
      }
    }

    .active {
      a {
        background-color: $color-sticky-theme;
        border: none;
        &:focus, &:hover, &:visited {
          border: none;
        }
      }
    }

  }

  .task-tab-content {
    background-color: $color-paper;
    border-top: 10px solid $color-theme;
    border-bottom: 10px dashed $color-background-theme;
    border-left: 10px solid $color-theme;
    border-right: 10px solid $color-theme;

    @include border-radius(0, 20px, 0, 0);

  }

  .tabs-left {
    .nav-tabs {
      border-right: 10px solid $color-theme;
    }
  }

}

/* Default - all screens */

html, body {
  height: 100%;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.3em;
}

.nav-tabs {

  li {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
  }

}

.game-practice-area {
  @include color-theme($color-sticky-practice, $color-background-practice, $color-practice);
}

.game-challenge-area {
  @include color-theme($color-sticky-challenge, $color-background-challenge, $color-challenge);
}

.home {
  background-color: $color-background-header;
}

.home-header-area {
  @include home-area-setup(transparentize($color-home, 0.5), 25vh);
  .home-header-area-content {
    color: $color-lightest;
    text-align: center;
    padding-top: 5vh;

  }
}

.home-practice-area {
  @include home-area-setup(transparentize($color-sticky-practice, 0.1), 75vh);

  h3 {
    @include vertical-align(absolute, 35%, 20%);
    @include h3-style(center, $color-practice, 7vw, 4px);

  }

  &:hover {
    background-color: $color-sticky-practice;
  }

}

.home-challenge-area {
  @include home-area-setup(transparentize($color-sticky-challenge, 0.1), 75vh);
  h3 {
    @include vertical-align(absolute, 35%, 16%);
    @include h3-style(center, $color-challenge, 7vw, 4px);
  }
  &:hover {
    background-color: $color-sticky-challenge;
  }

}

.game-area {
  margin-bottom: 10px;
  position: relative;

  .start-challenge {
    display: none;
  }

  .tab-content {
    .task-tab-content {
      .challenge-amount {
        @include font-stroke($color-lightest, $color-challenge, 1px);
        font-size: 1.5em;
      }
      .challenge-unit, .part-of-speech {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
      }
      .part-of-speech-definition {
        font-style: italic;
      }
      .text {
        margin-bottom: 0;
        a {
          cursor: pointer;
        }
        .word {
          border: none;
          padding: 4px;
          background-color: $color-btn;
          display: inline-block;
          color: $color-darkest;

        }
        .correct {
          color: $color-correct;
          background-color: transparentize($color-correct, 0.95);
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            color: $color-correct;
          }
        }
        .wrong {
          pointer-events: none;
          cursor: not-allowed;
          color: $color-wrong;
          background-color: transparentize($color-wrong, 0.95);

          &:hover {
            color: $color-wrong;
          }
        }
        .disabled {
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            text-decoration: none;
          }
        }

      }
    }
  }

  .tab-counter {
    font-size: 30px;
  }

}

.current-score, .total-current-score {
  @include font-stroke($color-lightest, $color-correct, 1px);
}

.current-score-slash {
  @include font-stroke($color-lightest, $color-greyscale, 1px);

}

.tab-counter, .current-score-tab-counter, .total-tab-counter {
  @include font-stroke($color-lightest, $color-counter, 1px);
}

.counter-label, .total-counter-label, .total-timer-label {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color: $color-greyscale;
}

.section-score {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 14px;

  .section-score-current {
    color: $color-correct;
  }

  .section-score-total {

  }

  .total-current-score-slash {

  }
}

.timer {

  .countdown {
    @include font-stroke($color-lightest, $color-challenge, 0.5px);
    padding: 20px 1px 10px 10px;

    .item {
      font-size: 37px;
    }

    .label {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: normal;
    }

    .item-hh {
      display: none;
    }

  }

}

.modal-header {
  background-color: transparentize($color-correct, 0.95);
}

.modal-title {
  color: darken($color-correct, 2%);
}

.message {
  color: $color-darkest;
  margin-left: 10px;
  padding-top: 10px;
}

.congratsMsg {
  font-style: italic;
  margin-left: 20px;
  padding-bottom: 10px;
}

.btn-start {
  color: $color-darkest;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.3em;
  font-weight: normal;

  @include border-radius(15px, 15px, 0, 0);

  background-color: transparent;
  border-top: 1px dashed darken($color-greyscale, 10%);
  border-left: 1px dashed darken($color-greyscale, 10%);
  border-right: 1px dashed darken($color-greyscale, 10%);

  width: 100%;
  height: 200px;

  text-align: center;

  margin-bottom: 10px;

}

.btn-home, .btn-challenge, .btn-practice {
  text-align: left;
  color: $color-darkest;
  @include border-radius(0, 5px, 5px, 0);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

.btn-home {
  width: 120px;
  background-color: lighten($color-home, 10%);
}

.btn-challenge {
  background-color: $color-sticky-challenge;
}

.btn-practice {
  background-color: $color-sticky-practice;
}

/* Large Screens */
@media screen and (min-width: 750px) {

  %extend-list-a {
    min-width: 74px;
    margin-bottom: 3px;
  }

  .tabs-below > .nav-tabs {
    border-bottom: 0;
    border-top: 1px solid darken($color-greyscale, 10%);
    > {
      li {
        margin-top: -1px;
        margin-bottom: 0;
        > a {
          @include border-radius(0, 0, 4px, 4px);
          &:hover, &:focus {
            border-top-color: darken($color-greyscale, 10%);
            border-bottom-color: transparent;
          }
        }
      }
      .active > a {
        background-color: $color-sticky-practice;
      }
    }
  }

  .tabs-right > .nav-tabs {
    padding-top: 20px;
    height: 75vh;
    min-height: 600px;
    border-bottom: 0;
    float: right;
    margin-left: 19px;
    li {
      float: none;
      text-align: left;
      a {
        @extend %extend-list-a;
        margin-left: -1px;

        @include border-radius(0, 4px, 4px, 0);

        &:hover, &:hover {
          border-color: $color-greyscale;
        }

      }
    }
    .active > a {
      background-color: $color-sticky-practice;

    }
  }

  .tabs-left {

    .nav-tabs {
      height: 75vh;
      min-height: 600px;
      padding-top: 20px;
      border-bottom: 0;
      float: left;

      li {
        float: none;
        text-align: right;
        margin-bottom: 5px;
        margin-right: -13px;
        a {
          @extend %extend-list-a;
          @include border-radius(5px, 0, 0, 5px);
        }
      }

      .active {
        margin-right: -25px;
        a {
          padding-right: 27px;
        }
      }

    }

    .task-tab-content {
      padding: 35px 40px 20px 210px;
    }
  }

  .tab-content {
    .tab-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .pill-content {
    .pill-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .tab-content {

    border-width: 1px 1px 1px 0;

    .task-tab-content {
      height: 75vh;
      min-height: 600px;
    }

  }

  .btn-home {
    margin-left: -30px;
    width: 120px;
    background-color: lighten($color-home, 10%);
  }

  .btn-challenge, .btn-practice {
    margin-left: -125px;
    width: 150px;
  }

  .game-practice-area {

    .btn-home {
      margin-top: -10px;
    }

    .btn-challenge {
      margin-top: 100px;
      background-color: $color-sticky-challenge;
    }

    .i-phone {
      min-height: 420px;
      width: 200px;
      background-color: $color-lightest;
      border: 5px solid $color-phone-border;
      @include border-radius(15px, 15px, 15px, 15px);

      .device-screen {
        background-color: $color-darkest;
        min-height: 310px;
        margin-top: 45px;
        margin-left: 8px;
        margin-right: 8px;
      }
      .device-btn {
        width: 40px;
        height: 40px;
        border: 3px solid $color-phone-border;
        border-radius: 50%;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .counter {
      position: absolute;
      top: 140px;
      right: -210px;
      text-align: right;
      margin-right: 10px;
      z-index: 9999;
      font-size: 45px;
      padding: 0 12px 0 10px;
      background-color: $color-darkest;
    }

    .counter-label {
      position: absolute;
      top: 80px;
      right: -150px;
      text-align: right;
      margin-right: 10px;
      z-index: 99991;
    }
  }

  .game-challenge-area {
    .btn-home {
      margin-top: -820px;
    }
    .btn-practice {
      margin-top: -710px;
      background-color: $color-sticky-practice;
    }

    .i-pad {
      min-height: 500px;
      width: 410px;
      background-color: $color-lightest;
      border: 3px solid $color-tablet-border;
      @include border-radius(25px, 25px, 25px, 25px);

      .device-screen {
        background-color: $color-tablet;
        min-height: 500px;
        margin-top: 45px;
        margin-left: 30px;
        margin-right: 30px;
      }
      .device-btn {
        width: 27px;
        height: 27px;
        border: 2px solid transparentize($color-tablet-border, 0.8);
        border-radius: 50%;
        margin: 7px auto;

      }
    }

    .total-counter-label {
      position: relative;
      top: -530px;
      left: 60px;

      .score-sections {
        font-size: 18px;
        list-style-type: none;
        padding-left: 10px;
        margin-bottom: 1px;

        .section-score {
          margin-left: 200px;
          font-size: 23px;
          margin-top: -28px;

        }

      }

      hr {
        width: 300px;
        margin-left: 0;

        & + p {
          font-size: 18px;
          margin-left: 10px;
        }
      }

      .total-score {

        margin-top: -40px;
        margin-left: 200px;

      }
    }

    .total-timer-label {
      position: relative;
      top: -540px;
      left: 60px;

      .set-timer {
        margin-left: 10px;
      }

    }

  }

}

/* Small Screens */

@media screen and (max-width: 992px) {

  .counter-label, .total-counter-label, .total-timer-label {
    display: none;
  }

  .btn-home, .btn-challenge, .btn-practice {
    margin-top: 10px !important;
  }

  .i-phone {
    display: none;
  }

  .counter, .total-counter {
    text-align: right;
    font-size: 35px;
    margin-right: 10px;
    background-color: $color-darkest;
    padding: 0 12px 0 10px;
    position: fixed;
    top: 20px;
    right: 50px;

    @include border-radius(5px, 5px, 5px, 5px);

    border: 2px solid $color-phone-border;

  }

  .total-counter {
    left: inherit;
    padding-left: 10px;
  }

  .set-timer {
    background-color: $color-darkest;
    padding: 6px 0 0 6px;
    position: fixed;
    top: 100px;
    right: 60px;
    @include border-radius(5px, 5px, 5px, 5px);

    border: 2px solid $color-phone-border;

    .timer {
      margin-bottom: 0;
    }
    .separator {
      display: none;
    }

  }

  .btn-home, .btn-challenge, .btn-practice {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 100px;
    @include border-radius(5px, 5px, 5px, 5px);

  }

  .btn-challenge, .btn-practice {
    margin-left: 20px;
  }

  .btn-home {
    margin-left: 20px;

  }

  .task-tab-content {
    margin-top: 10px;
  }

}

@mixin design-for-mobile() {
  .home-header-area-content {
    h2 {
      font-size: 2.1em;
    }
  }
  .game-challenge-area, .game-practice-area {
    h2 {
      font-size: 2.8em;
    }
  }
  h5 {
    font-size: 1.7em;
  }

  /*
  .part-of-speech-definition {
    font-size: 1.4em;
  }*/

  .text {
    font-size: 1.7em;
  }
  .nav-tabs {
    font-size: 1.2em;
    border: none !important;

    li {
      margin-bottom: 10px;
      margin-right: 10px;
      a {
        @include border-radius(5px, 5px, 5px, 5px);
      }
    }

  }
  .task-tab-content {
    padding: 15px 30px;

  }

  .game-practice-area {
    .task-tab-content {
      border-top: 5px solid $color-practice;
      border-bottom: 10px dashed $color-background-practice;
      border-left: 5px solid $color-practice;
      border-right: 5px solid $color-practice;
    }
  }

  .game-challenge-area {

    .task-tab-content {
      border-top: 5px solid $color-challenge;
      border-bottom: 10px dashed $color-background-challenge;
      border-left: 5px solid $color-challenge;
      border-right: 5px solid $color-challenge;
    }
  }

}

@media screen and (max-width: 749px) and (orientation: portrait) {

  .counter, .total-counter {
    margin-right: 10px;
    position: fixed;
    top: 70px;
    right: 20px;
  }

  .set-timer {
    top: 140px;
    right: 30px;

  }

  @include design-for-mobile();

  .home-header-area {

    @include home-area-setup($color-home, 35vh);
    .home-header-area-content {
      padding-top: 3vh;
    }
  }

  .home-practice-area {
    @include home-area-setup(transparentize($color-sticky-practice, 0.1), 65vh);
    h3 {
      @include h3-style(center, $color-practice, 7vw, 1.5px);
    }
  }

  .home-challenge-area {
    @include home-area-setup(transparentize($color-sticky-challenge, 0.1), 65vh);
    h3 {
      @include h3-style(center, $color-challenge, 7vw, 1.5px);
    }
  }

}

@media screen and (max-width: 749px) and (orientation: landscape) {

  @include design-for-mobile();

  .home-header-area {

    @include home-area-setup($color-home, 50vh);
    .home-header-area-content {
      padding-top: 1vh;
    }
  }
  .home-practice-area {
    @include home-area-setup(transparentize($color-sticky-practice, 0.1), 50vh);

    h3 {
      @include vertical-align(absolute, 15%, 20%);
      @include h3-style(center, $color-practice, 7vw, 1.5px);

    }
  }
  .home-challenge-area {
    @include home-area-setup(transparentize($color-sticky-challenge, 0.1), 50vh);
    h3 {
      @include vertical-align(absolute, 15%, 20%);
      @include h3-style(center, $color-challenge, 7vw, 1.5px);

    }
  }

}