$color-lightest: #ffffff;
$color-greyscale: #ececec;
$color-darkest: #000000;

$color-background: #56626A;
$color-inactive: #ececec;
$color-background-header: #63737b;
$color-background-practice: #63737b;
$color-practice: #68CBDA;
$color-background-challenge: #63737b;
$color-challenge: #ffbc95;

$color-paper: #FAFAFA;

$color-correct: #43D01C;
$color-wrong: #DD3970;
$color-btn: transparent;
$color-counter: #0d003e;
$color-timer: #fdffe3;

$color-phone-border: #ffd829;
$color-sticky-practice: #BAEAFF;
$color-sticky-challenge: #ffdd9a;

$color-home: #5e72b2;

@mixin vertical-align($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin home-area-setup($color-back, $height) {
  background-color: $color-back;
  height: $height;
  position: relative;
}

@mixin font-stroke($color-text, $color-stroke, $stroke-width) {
  font-family: 'Luckiest Guy', cursive;
  -webkit-text-fill-color: $color-text;
  -webkit-text-stroke-color: $color-stroke;
  -webkit-text-stroke-width: $stroke-width;
}

@mixin h3-style($align, $color-text, $font-size, $stroke-size) {
  text-align: $align;
  font-size: $font-size;

  @include font-stroke($color-lightest, $color-text, $stroke-size);

}

@mixin background($color-back, $color-h2) {
  background-color: $color-back;
  min-height: 100%;
  overflow: hidden;
  h2 {
    @include font-stroke($color-lightest, $color-h2, 2px)
  }
}

@mixin border-radius($top-radius, $right-radius, $bottom-radius, $left-radius) {
  -webkit-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  -moz-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  -ms-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  border-radius: $top-radius $right-radius $bottom-radius $left-radius;
}

@mixin color-theme($color-sticky-theme, $color-background-theme, $color-theme) {

  @include background($color-background-theme, $color-theme);

  .nav-tabs {
    background-color: $color-background-theme;

    li {
      a {
        border: none;
        background-color: transparentize($color-sticky-theme, 0.7);
        &:hover, &:visited, &:focus {
          background-color: $color-sticky-theme;
          border: none;
          color: $color-darkest;
        }
      }
    }

    .active {
      a {
        background-color: $color-sticky-theme;
        border: none;
        &:focus, &:hover, &:visited {
          border: none;
        }
      }
    }

  }

  .task-tab-content {
    background-color: $color-paper;
    border-top: 10px solid $color-theme;
    border-bottom: 10px dashed $color-background-theme;
    border-left: 10px dashed $color-background-theme;
    border-right: 10px solid $color-theme;

    @include border-radius(20px, 20px, 0px, 0px);

  }

  .tabs-left {
    .nav-tabs {
      border-right: 10px solid $color-theme;
    }
  }

}

/* Default - all screens */

html, body {
  height: 100%;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.3em;
}

.nav-tabs {

  li {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
  }

}

.game-practice-area {
  @include color-theme($color-sticky-practice, $color-background-practice, $color-practice);
}

.game-challenge-area {
  @include color-theme($color-sticky-challenge, $color-background-challenge, $color-challenge);
}

.game-challenge-header-area {
  height: 75px;
}

.home {
  background-color: $color-background-header;
}

.home-header-area {
  @include home-area-setup($color-home, 25vh);
  .home-header-area-content {
    color: $color-lightest;
    text-align: center;
    padding-top: 5vh;

  }
}

.home-practice-area {
  @include home-area-setup($color-sticky-practice, 75vh);

  h3 {
    @include vertical-align(absolute, 35%, 20%);
    @include h3-style(center, $color-practice, 7vw, 4px);

  }

  &:hover {
    background-color: transparentize($color-sticky-practice, 0.2);
  }

}

.home-challenge-area {
  @include home-area-setup($color-sticky-challenge, 75vh);
  h3 {
    @include vertical-align(absolute, 35%, 16%);
    @include h3-style(center, $color-challenge, 7vw, 4px);
  }
  &:hover {
    background-color: transparentize($color-sticky-challenge, 0.2);
  }

}

.set-timer {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
}

.timer {

  .countdown {
    background-color: transparentize($color-timer, 0.5);
    padding: 20px 1px 10px 10px;
    border: 1px solid $color-greyscale;
    border-radius: 8px;

    .item {
      font-size: 27px;

    }

    .item-hh {
      display: none;
    }

    .label {
      text-transform: uppercase;
      color: $color-darkest;
      font-size: 15px;
      font-weight: normal;

    }

  }

}

.game-area {
  margin-bottom: 10px;
  position: relative;

  .start-challenge {
    display: none;
  }

  .tab-content {

    .task-tab-content {
      .challenge {
        font-weight: bold;
      }
      .part-of-speech {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
      }
      .part-of-speech-definition {
        font-style: italic;
      }
      .text {
        margin-bottom: 0;
        a {
          cursor: pointer;
        }
        .word {
          border: none;
          padding: 4px;
          background-color: $color-btn;
          display: inline-block;
          color: $color-darkest;

        }
        .correct {
          color: $color-correct;
          background-color: transparentize($color-correct, 0.95);
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            color: $color-correct;
          }
        }
        .wrong {
          pointer-events: none;
          cursor: not-allowed;
          color: $color-wrong;
          background-color: transparentize($color-wrong, 0.95);

          &:hover {
            color: $color-wrong;
          }
        }
        .disabled {
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            text-decoration: none;
          }
        }

      }
    }
  }

  .current-score {
    @include font-stroke($color-lightest, $color-correct, 1px);
  }

  .current-score-slash {
    @include font-stroke($color-lightest, $color-greyscale, 1px);

  }

  .tab-counter, .current-score-tab-counter {
    @include font-stroke($color-lightest, $color-counter, 1px);
  }

  .tab-counter {
    font-size: 30px;
  }

}

.btn-home, .btn-challenge {
  text-align: left;
  margin-left: -30px;
  color: $color-darkest;
  border: none;
  @include border-radius(0, 5px, 5px, 0);

  &:hover, &:visited, &:focus {
    border: none;
  }
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.3em;
  font-weight: bold;

}

.btn-home {
  width: 120px;
  margin-top: 60px;
  background-color: $color-home;
  &:hover, &:visited, &:focus {
    background-color: lighten($color-home, 10%);
  }

}

.btn-challenge {
  width: 150px;

  background-color: $color-sticky-challenge;
  &:hover, &:visited, &:focus {
    background-color: lighten($color-sticky-challenge, 10%);
  }
}

/*
.total-counter {
  display: inline-block;
  float: right;
  font-size: 35px;
  padding: 0 7px;
  background-color: $color-lightest;
}

.total-current-score {
  @include font-stroke($color-lightest, $color-correct, 1px);

}

.total-tab-counter {
  @include font-stroke($color-lightest, $color-counter, 1px);

}
*/

.modal-header {
  background-color: transparentize($color-correct, 0.95);
}

.modal-title {
  color: darken($color-correct, 2%);
}

.message {
  color: $color-darkest;
  margin-left: 10px;
  padding-top: 10px;
}

.congratsMsg {
  font-style: italic;
  margin-left: 20px;
  padding-bottom: 10px;
}

/* Large Screens */
@media screen and (min-width: 750px) {

  %extend-list-a {
    min-width: 74px;
    margin-bottom: 3px;
  }

  /*
  .binder {
    width: 40px;
    color: $color-darkest;
    height: 10px;
    border: 5px solid $color-correct;
    z-index: 99999;
    position: relative;
    top: -600px;
  }
*/

  .score-panel {
    min-height: 420px;
    width: 200px;
    background-color: $color-lightest;
    border: 5px solid $color-phone-border;
    @include border-radius(15px, 15px, 15px, 15px);

    .score-screen {
      background-color: $color-darkest;
      min-height: 310px;
      margin-top: 45px;
      margin-left: 8px;
      margin-right: 8px;
    }
    .power-btn {
      width: 40px;
      height: 40px;
      border: 3px solid $color-phone-border;
      border-radius: 50%;
      margin-top: 8px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .counter {
    text-align: right;
    font-size: 45px;
    margin-right: 10px;
    background-color: $color-darkest;
    padding: 0 12px 0 10px;
    position: absolute;
    top: 140px;
    right: -210px;
    z-index: 9999;
  }

  .tabs-below > .nav-tabs {
    border-bottom: 0;
    border-top: 1px solid darken($color-greyscale, 10%);
    > {
      li {
        margin-top: -1px;
        margin-bottom: 0;
        > a {
          @include border-radius(0, 0, 4px, 4px);
          &:hover, &:focus {
            border-top-color: darken($color-greyscale, 10%);
            border-bottom-color: transparent;
          }
        }
      }
      .active > a {
        background-color: $color-sticky-practice;
      }
    }
  }

  .tabs-right > .nav-tabs {
    padding-top: 20px;
    height: 75vh;
    min-height: 600px;
    border-bottom: 0;
    float: right;
    margin-left: 19px;
    li {
      float: none;
      text-align: left;
      a {
        @extend %extend-list-a;
        margin-left: -1px;

        @include border-radius(0, 4px, 4px, 0);

        &:hover, &:hover {
          border-color: $color-greyscale;
        }

      }
    }
    .active > a {
      background-color: $color-sticky-practice;

    }
  }

  .tabs-left {

    .nav-tabs {
      height: 75vh;
      min-height: 600px;
      padding-top: 20px;
      border-bottom: 0;
      float: left;

      li {
        float: none;
        text-align: right;
        margin-bottom: 5px;
        margin-right: -13px;
        a {
          @extend %extend-list-a;
          @include border-radius(4px, 0, 0, 4px);
        }
      }

      .active {
        margin-right: -25px;
        a {
          padding-right: 27px;
        }
      }

    }

    .task-tab-content {
      padding: 35px 40px 20px 210px;
    }
  }

  .tab-content {
    .tab-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .pill-content {
    .pill-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .tab-content {

    border-width: 1px 1px 1px 0;

    .task-tab-content {
      height: 75vh;
      min-height: 600px;
    }

  }

}

/* Small Screens */

@media screen and (max-width: 992px) {
  .score-panel {
    display: none;
  }

  .counter {
    text-align: right;
    font-size: 35px;
    margin-right: 10px;
    background-color: $color-lightest;
    padding: 0 12px 0 10px;
    position: fixed;
    top: 20px;
    right: 50px;
  }

}

@media screen and (max-width: 749px) and (orientation: portrait) {

  h2 {
    font-size: 2.3em;
  }
  h5 {
    font-size: 1.6em;
  }
  .text {
    font-size: 1.5em;
  }

  .nav-tabs {
    font-size: 1.2em;
    border: none !important;

  }

  .home-header-area {

    @include home-area-setup($color-home, 35vh);
    .home-header-area-content {
      padding-top: 3vh;
    }
  }

  .home-practice-area {
    @include home-area-setup($color-sticky-practice, 65vh);
    h3 {
      @include h3-style(center, $color-practice, 7vw, 1.5px);
    }
  }

  .home-challenge-area {
    @include home-area-setup($color-sticky-challenge, 65vh);
    h3 {
      @include h3-style(center, $color-challenge, 7vw, 1.5px);
    }
  }

  .task-tab-content {
    padding: 15px 30px;
  }

}

@media screen and (max-width: 749px) and (orientation: landscape) {

  h2 {
    font-size: 2.3em;
  }

  h5 {
    font-size: 1.6em;
  }

  .text {
    font-size: 1.5em;
  }

  .nav-tabs {
    font-size: 1.2em;
    border: none !important;

  }

  .home-header-area {

    @include home-area-setup($color-home, 50vh);
    .home-header-area-content {
      padding-top: 1vh;
    }
  }
  .home-practice-area {
    @include home-area-setup($color-sticky-practice, 50vh);

    h3 {
      @include vertical-align(absolute, 15%, 20%);
      @include h3-style(center, $color-practice, 7vw, 1.5px);

    }
  }

  .home-challenge-area {
    @include home-area-setup($color-sticky-challenge, 50vh);
    h3 {
      @include vertical-align(absolute, 15%, 20%);
      @include h3-style(center, $color-challenge, 7vw, 1.5px);

    }
  }

  .task-tab-content {
    padding: 15px 30px;
  }

}