$color-lightest: #ffffff;
$color-greyscale: #ececec;
$color-darkest: #000000;

$color-background: #56626A;
$color-inactive: #ececec;
$color-background-header: #63737b;
$color-background-practice: #63737b;
$color-practice: #68CBDA;
$color-background-challenge: #63737b;
$color-challenge: #ffbc95;

$color-paper: #FAFAFA;

$color-correct: #43D01C;
$color-wrong: #DD3970;
$color-btn: transparent;
$color-counter: #0d003e;
$color-timer: #fdffe3;

$color-phone-border: #ffd829;
$color-tablet-border: #cfc9bf;

$color-tablet: #000000;

$color-sticky-practice: #BAEAFF;
$color-sticky-challenge: #ffdd9a;

$color-home: #5e72b2;

$i-pad-width: 290px;

$i-pad-scores-left-margin: 140px;

$i-pad-scores-font-size: 16px;
$i-pad-padding-l-r: 15px;
$i-pad-padding-top: 35px;

$i-pad-display-top: -460px;
$i-pad-display-left: 20px;

$nav-buttons-absolute-top: 950px;
$nav-buttons-under-i-phone-margin-top: 90px;

@mixin vertical-align($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin home-area-setup($color-back, $height) {
  background-color: $color-back;
  height: $height;
  position: relative;
}

@mixin font-stroke($color-text, $color-stroke, $stroke-width) {
  font-family: 'Luckiest Guy', cursive;

  color: $color-text;

  -webkit-text-fill-color: $color-text;
  -webkit-text-stroke-color: $color-stroke;
  -webkit-text-stroke-width: $stroke-width;
}

@mixin h3-style($align, $color-text, $font-size, $stroke-size) {
  text-align: $align;
  font-size: $font-size;

  @include font-stroke($color-lightest, $color-text, $stroke-size);

}

@mixin background($color-back, $color-h2) {
  background-color: $color-back;
  min-height: 100%;
  overflow: hidden;
  h2 {
    @include font-stroke($color-lightest, $color-h2, 2px)
  }
}

@mixin border-radius($top-radius, $right-radius, $bottom-radius, $left-radius) {
  -webkit-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  -moz-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  -ms-border-radius: $top-radius $right-radius $bottom-radius $left-radius;
  border-radius: $top-radius $right-radius $bottom-radius $left-radius;
}

@mixin color-theme($color-sticky-theme, $color-background-theme, $color-theme) {

  @include background($color-background-theme, $color-theme);

  .nav-tabs {
    background-color: $color-background-theme;

    li {
      a {
        border: none;
        background-color: transparentize($color-sticky-theme, 0.7);
        color: $color-darkest;
        font-weight: normal;

        &:hover, &:visited, &:focus {
          background-color: $color-sticky-theme;
          border: none;
        }
      }
    }

    .active {
      a {
        background-color: $color-sticky-theme;
        border: none;
        &:focus, &:hover, &:visited {
          border: none;
        }
      }
    }

  }

  .task-tab-content {
    background-color: $color-paper;
    border-top: 10px solid $color-theme;
    border-bottom: 10px dashed $color-background-theme;
    border-left: 10px solid $color-theme;
    border-right: 10px solid $color-theme;

    @include border-radius(0, 20px, 0, 0);

  }

  /*
  .tabs-left {
    .nav-tabs {
      border-right: 10px solid $color-theme;
    }
  }
  */

}

@mixin design-for-phones() {
  .home-header-area-content {
    h2 {
      font-size: 2.1em;
    }
  }
  .game-challenge-area, .game-practice-area {
    h2 {
      font-size: 2.8em;
    }
  }
  h5 {
    font-size: 1.7em;
  }

  .text {
    font-size: 1.8em;
  }
  .nav-tabs {
    font-size: 1.2em;
    border: none !important;

    li {
      margin-bottom: 10px;
      margin-right: 10px;
      a {
        @include border-radius(5px, 5px, 5px, 5px);
      }
    }

  }
  .task-tab-content {
    padding: 15px 30px;

  }

  .game-practice-area {
    .task-tab-content {
      border-top: 5px solid $color-practice;
      border-bottom: 10px dashed $color-background-practice;
      border-left: 5px solid $color-practice;
      border-right: 5px solid $color-practice;
    }
  }

  .game-challenge-area {

    .task-tab-content {
      border-top: 5px solid $color-challenge;
      border-bottom: 10px dashed $color-background-challenge;
      border-left: 5px solid $color-challenge;
      border-right: 5px solid $color-challenge;
    }
  }

}

@mixin design-for-tablets() {

  .text {
    font-size: 1.8em;
  }

}

/* Default - all screens */

html, body {
  height: 100%;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.7em;
}

p {
  font-size: 1.3em;
}

.listOfGames {

  background-color: $color-background;
  color: $color-lightest;
  height: 100vh;

  padding-top: 5vh;
  padding-left: 4vw;

  ul {
    padding-top: 10px;
    list-style-type: none;
    font-size: 18px;

    li {
      padding-bottom: 7px;
    }

    a {
      color: $color-sticky-practice;
    }
  }
}

.goToHome {
  width: 30px;
  position: absolute;
  right: 0;
}

.nav-tabs {

  li {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
  }

}

.game-practice-area {
  @include color-theme($color-sticky-practice, $color-background-practice, $color-practice);
}

.game-challenge-area {
  @include color-theme($color-sticky-challenge, $color-background-challenge, $color-challenge);
}

.home {
  background-color: $color-background-header;
}

.home-header-area {
  @include home-area-setup(transparentize($color-home, 0.5), 25vh);
  .home-header-area-content {
    color: $color-lightest;
    text-align: center;
    padding-top: 5vh;

  }
}

.home-practice-area {
  @include home-area-setup(transparentize($color-sticky-practice, 0.1), 75vh);

  h3 {
    @include vertical-align(absolute, 35%, 20%);
    @include h3-style(center, $color-practice, 7vw, 4px);

  }

  &:hover {
    background-color: $color-sticky-practice;
  }

}

.home-challenge-area {
  @include home-area-setup(transparentize($color-sticky-challenge, 0.1), 75vh);
  h3 {
    @include vertical-align(absolute, 35%, 16%);
    @include h3-style(center, $color-challenge, 7vw, 4px);
  }
  &:hover {
    background-color: $color-sticky-challenge;
  }

}

.game-area {
  margin-bottom: 10px;
  position: relative;

  .start-challenge {
    display: none;
  }

  .tab-content {
    .task-tab-content {
      .challenge-amount {
        @include font-stroke($color-lightest, $color-challenge, 1px);
        color: $color-challenge;

        font-size: 1.5em;
      }

      .challenge-unit, .part-of-speech {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
      }

      .btn-openDefinition {
        cursor: pointer;
        margin-bottom: 10px;
        padding: 5px;
        width: 160px;
        background-color: lighten($color-practice, 10%);
        text-align: center;
        color: $color-darkest;

        @include border-radius(5px, 5px, 5px, 5px);
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 1.3em;
        font-weight: normal;

      }

      .definition {
        p, ul {
          font-size: 15px;
        }
        display: none;
        padding: 20px;
      }

      .text {
        font-size: 1.5em;

        margin-bottom: 0;
        a {
          cursor: pointer;
        }
        .word {
          border: none;
          padding: 4px;
          background-color: $color-btn;
          display: inline-block;
          color: $color-darkest;

        }
        .correct {
          color: $color-correct;
          background-color: transparentize($color-correct, 0.95);
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            color: $color-correct;
          }
        }
        .wrong {
          pointer-events: none;
          cursor: not-allowed;
          color: $color-wrong;
          background-color: transparentize($color-wrong, 0.95);

          &:hover {
            color: $color-wrong;
          }
        }
        .disabled {
          pointer-events: none;
          cursor: not-allowed;
          &:hover {
            text-decoration: none;
          }
        }

      }
    }
  }

  .total-number-of-instances {
    font-size: 30px;
  }

}

.current-score, .total-current-score {
  @include font-stroke($color-lightest, $color-correct, 1px);
  color: lighten($color-correct, 20%);

}

.current-score-slash {
  @include font-stroke($color-lightest, $color-greyscale, 1px);

}

.total-number-of-instances, .current-score-tab-counter, .total-score-all-sections {
  @include font-stroke($color-lightest, $color-counter, 1px);
  color: lighten($color-counter, 75%);
}

.score-label, .display-scores, .display-timer {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  color: $color-greyscale;
}

.section-score {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 14px;

  .section-score-current {
    color: $color-correct;
  }

  .section-score-total {

  }

  .total-current-score-slash {

  }
}

.timer {

  .countdown {
    @include font-stroke($color-lightest, $color-challenge, 1px);
    color: $color-challenge;

    padding: 20px 1px 10px 10px;

    .item {
      font-size: 37px;
    }

    .label {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: normal;
    }

    .item-hh {
      display: none;
    }

  }

}

.modal-header {
  background-color: transparentize($color-correct, 0.95);
}

.modal-title {
  color: darken($color-correct, 2%);
}

.message {
  color: $color-darkest;
  margin-left: 10px;
  padding-top: 10px;
}

.congratsMsg {
  font-style: italic;
  margin-left: 20px;
  padding-bottom: 10px;
}

.btn-start {
  color: $color-darkest;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.3em;
  font-weight: normal;

  @include border-radius(15px, 15px, 0, 0);

  background-color: transparent;
  border-top: 1px dashed darken($color-greyscale, 10%);
  border-left: 1px dashed darken($color-greyscale, 10%);
  border-right: 1px dashed darken($color-greyscale, 10%);

  width: 100%;
  height: 200px;

  text-align: center;

  margin-bottom: 10px;

}

.btn-home, .btn-challenge, .btn-practice {
  text-align: left;
  color: $color-darkest;

  @include border-radius(0, 5px, 5px, 0);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.3em;
  font-weight: normal;
}

.btn-home {
  width: 120px;
  background-color: lighten($color-home, 10%);
}

.btn-challenge {
  background-color: $color-sticky-challenge;
}

.btn-practice {
  background-color: $color-sticky-practice;
}

/* Large Screens */
@media screen and (min-width: 750px) {

  %extend-list-a {
    min-width: 74px;
    margin-bottom: 3px;
  }

  .tabs-below > .nav-tabs {
    border-bottom: 0;
    border-top: 1px solid darken($color-greyscale, 10%);
    > {
      li {
        margin-top: -1px;
        margin-bottom: 0;
        > a {
          @include border-radius(0, 0, 4px, 4px);
          &:hover, &:focus {
            border-top-color: darken($color-greyscale, 10%);
            border-bottom-color: transparent;
          }
        }
      }
      .active > a {
        background-color: $color-sticky-practice;
      }
    }
  }

  .tabs-right > .nav-tabs {
    padding-top: 20px;
    height: 75vh;
    min-height: 800px;
    border-bottom: 0;
    float: right;
    margin-left: 19px;
    li {
      float: none;
      text-align: left;
      a {
        @extend %extend-list-a;
        margin-left: -1px;

        @include border-radius(0, 4px, 4px, 0);

        &:hover, &:hover {
          border-color: $color-greyscale;
        }

      }
    }
    .active > a {
      background-color: $color-sticky-practice;

    }
  }

  .tabs-left {

    .nav-tabs {
      height: 85vh; //800px
      padding-top: 20px;
      border-bottom: 0;
      float: left;

      li {
        float: none;
        text-align: right;
        margin-bottom: 5px;
        margin-right: -13px;
        a {
          @extend %extend-list-a;
          @include border-radius(5px, 0, 0, 5px);
        }
      }

      .active {
        margin-right: -25px;
        a {
          padding-right: 27px;
        }
      }

    }

    .task-tab-content {
      /*      padding: 30px 40px 20px 210px; */
      padding: 40px;
      height: 85vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px 0 lighten($color-background, 10%);
        border-radius: 10px;
        /*  background-color: $color-lightest; */
      }

      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 3px 5px 11px 3px lighten($color-background, 10%);
        box-shadow: inset 3px 5px 11px 3px lighten($color-background, 10%);

        /*  background-color: $color-practice; */
        border-radius: 10px;
      }

    }
    /*
    .task-tab-content-for-short-tab-names {
      padding-left: 175px;
    }
    */
  }

  .tab-content {

    .tab-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .pill-content {
    .pill-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }

  .tab-content {

    border-width: 1px 1px 1px 0;

    .task-tab-content {
      min-height: 800px;
    }

  }

  .btn-home {
    margin-left: -30px;
    width: 120px;
    background-color: lighten($color-home, 10%);
  }

  .btn-challenge, .btn-practice {
    margin-left: -125px;
    width: 150px;
  }

  .game-practice-area {

    .btn-home {
      margin-top: -10px;
    }

    .btn-challenge {
      margin-top: 100px;
      background-color: $color-sticky-challenge;
    }

    .i-phone {
      width: 180px;
      background-color: $color-lightest;
      border: 3px solid $color-phone-border;
      @include border-radius(15px, 15px, 15px, 15px);

      .device-screen {
        background-color: $color-darkest;
        min-height: 250px;
        margin: 30px 8px 0 8px;

      }
      .device-btn {
        width: 25px;
        height: 25px;
        border: 2px solid $color-phone-border;
        border-radius: 50%;
        margin: 4px auto;
      }

      margin: 0;
    }

    .score-label {
      position: absolute;
      top: 70px;
      right: -160px;
      text-align: right;
      margin-right: 15px;
      z-index: 99991;
    }

    .nav-buttons {
      margin-top: $nav-buttons-under-i-phone-margin-top;
    }
  }

  .game-challenge-area {
    .btn-home {
      margin-top: -820px;
    }
    .btn-practice {
      margin-top: -710px;
      background-color: $color-sticky-practice;
    }

    .i-pad {
      width: $i-pad-width;
      margin-left: -10px;
      background-color: $color-lightest;
      border: 3px solid $color-tablet-border;
      @include border-radius(25px, 25px, 25px, 25px);

      .device-screen {
        background-color: $color-tablet;
        min-height: 430px;
        margin: $i-pad-padding-top $i-pad-padding-l-r 0 $i-pad-padding-l-r;
      }
      .device-btn {
        width: 27px;
        height: 27px;
        border: 2px solid transparentize($color-tablet-border, 0.8);
        border-radius: 50%;
        margin: 7px auto;

      }
    }

    .nav-buttons {
      position: absolute;
      top: $nav-buttons-absolute-top;
    }

  }

}

@media screen and (min-width: 993px) {
  .score {
    position: absolute;
    top: 120px;
    right: -200px;
    text-align: right;
    margin-right: 10px;
    z-index: 9999;
    font-size: 43px;
    padding: 0 12px 0 10px;
    background-color: $color-darkest;
  }

  .display-scores, .display-timer {
    top: $i-pad-display-top;
    position: relative;
    left: $i-pad-display-left;

    p {
      font-size: 1em;
    }

  }

  .display-scores {

    .score-sections {
      font-size: $i-pad-scores-font-size;
      list-style-type: none;
      padding-left: 10px;
      margin-bottom: 1px;

      .section-score {
        margin-left: $i-pad-scores-left-margin;
        font-size: 23px;
        margin-top: -28px;

      }

    }

    hr {
      width: $i-pad-width - 80px;
      margin-left: 0;

      & + p {
        font-size: 18px;
        margin-left: 10px;
      }
    }

    .total-score {

      margin-top: -40px;
      margin-left: $i-pad-scores-left-margin;

      font-size: 1.4em;

    }
  }

  .display-timer {

    margin-top: -10px;

    .set-timer {
      margin-left: 10px;
    }

  }

}

@media screen and (max-width: 1536px) {

  @include design-for-tablets();

}

/* Small Screens */

@media screen and (max-width: 992px) {

  .score-label, .display-timer > p:first-child, .display-scores > p:not(.total-score), .display-scores dl, .display-scores hr {
    display: none;
  }

  .btn-home, .btn-challenge, .btn-practice {
    margin-top: 10px !important;
  }

  .i-phone, .i-pad {
    display: none;
  }

  .score, .total-counter, .total-score, .set-timer {
    text-align: right;
    margin-right: 10px;
    background-color: $color-darkest;
    padding: 0 12px 0 10px;
    position: fixed;

    @include border-radius(5px, 5px, 5px, 5px);

  }

  .score, .total-counter {
    font-size: 35px;
    top: 20px;
    right: 50px;
    border: 2px solid $color-phone-border;
  }

  .total-score {
    font-size: 35px;
    top: 20px;
    right: 50px;
    border: 2px solid $color-tablet-border;
  }

  .set-timer {
    padding: 6px 0 0 6px;
    top: 20px;
    right: 180px;
    border: 2px solid $color-tablet-border;

    p {
      font-size: 35px;
    }

    .timer {
      margin-bottom: 0;
    }
    .separator {
      display: none;
    }

  }

  .total-counter {
    left: inherit;
    padding-left: 10px;
  }

  .btn-home, .btn-challenge, .btn-practice {
    text-align: center;
    margin: 20px auto 20px auto;
    @include border-radius(5px, 5px, 5px, 5px);
  }

  .task-tab-content {
    margin-top: 10px;
  }

}

@media screen and (max-width: 749px) and (orientation: portrait) {

  .score, .total-counter {
    margin-right: 10px;
    position: fixed;
    top: 70px;
    right: 20px;
  }

  .set-timer {
    top: 70px;
    right: 20px;

  }

  .total-score {
    right: 20px;
    top: 140px;
  }

  @include design-for-phones();

  .home-header-area {

    @include home-area-setup($color-home, 35vh);
    .home-header-area-content {
      padding-top: 3vh;
    }
  }

  .home-practice-area {
    @include home-area-setup(transparentize($color-sticky-practice, 0.1), 65vh);
    h3 {
      @include h3-style(center, $color-practice, 7vw, 1.5px);
    }
  }

  .home-challenge-area {
    @include home-area-setup(transparentize($color-sticky-challenge, 0.1), 65vh);
    h3 {
      @include h3-style(center, $color-challenge, 7vw, 1.5px);
    }
  }

}

@media screen and (max-width: 749px) and (orientation: landscape) {

  @include design-for-phones();

  .home-header-area {

    @include home-area-setup($color-home, 50vh);
    .home-header-area-content {
      padding-top: 1vh;
    }
  }
  .home-practice-area {
    @include home-area-setup(transparentize($color-sticky-practice, 0.1), 50vh);

    h3 {
      @include vertical-align(absolute, 15%, 20%);
      @include h3-style(center, $color-practice, 7vw, 1.5px);

    }
  }
  .home-challenge-area {
    @include home-area-setup(transparentize($color-sticky-challenge, 0.1), 50vh);
    h3 {
      @include vertical-align(absolute, 15%, 20%);
      @include h3-style(center, $color-challenge, 7vw, 1.5px);

    }
  }

}