<div class="container-fluid">


    <header class="row">
        <div class="col-sm-12 home-header-area">
            <div class="home-header-area-content">
                <h2>Parts of Speech Game</h2>

                <p>The goal of this exercise is to identify the various considerations needed to use <strong>nouns</strong>.</p>
            </div>
        </div>
    </header>

    <section class="row">

        <a href="#/game1_practice">
            <div class="col-xs-6 home-practice-area">
                <h3>Practice</h3>
            </div>
        </a>
        <a href="#/game1_challenge">
            <div class="col-xs-6 home-challenge-area">
                <h3>Challenge</h3>
            </div>
        </a>

    </section>


</div>