<div class="container main" ng-controller="Game1ChallengeTabsController">
    <h2>Challenge</h2>


    <tabset class="game-area">
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" ng-click="changeTab()">
            <div class="task-tab-content">


                <!--
                <button ng-click="start(tab.timer)">Start</button>
                <div class="set-timer"></div>
                -->


                <p class="timer" timer-plugin="{css_class: 'countdown', always_show_days: false, with_labels: true, with_seconds: true, with_separators: true, label_dd: '', label_hh: '', label_mm: 'M', label_ss: 'S', separator: ' ', separator_days: ',' }">0h 3m 0s</p>


                <h5>Task:</h5>


                <p>Find <span class="tab-counter">{{ tab.counter }}</span> different
                    <span class="part-of-speech">{{ tab.title }}</span> in the paragraph <span class="challenge">{{ tab.challenge }}</span>.
                </p>
                <hr>
                <p class="text">
                    <a ng-repeat="word in words" id="{{'word_' + tab.taskNumber + '_' + $index}}" class="word {{word.btnStatus}}" data-partOfSpeech="{{ word.partOfSpeech }}" ng-click="lookingFor(tab.title, tab.partOfSpeech, tab.taskNumber, word.partOfSpeech, $index) ">{{word.wordItself}}</a>
                </p>
                <p class="counter"><span class="current-score">0</span> / <span class="tab-counter">{{ tab.counter }}</span></p>
            </div>
        </tab>
    </tabset>

    <p><a class="btn btn-default" href="#/home">Home</a></p>


</div>


