<div class="container-fluid listOfGames">


    <header class="row">
        <div class="col-sm-12">
            <div>
                <h2>Games</h2>

                <ul>
                    <li><a href="#/game0/">Game 0: Nouns (test)</a></li>
                    <li><a href="#/game1/">Game 1: Determiners, Articles, and Pronouns </a></li>
                    <li>Game 2: Prepositions</li>
                    <li>Game 3: Verbs</li>
                    <li>Game 4: Conjunctions</li>
                </ul>
            </div>
        </div>
    </header>


</div>