<div class="container-fluid listOfGames">


    <header class="row">
        <div class="col-sm-12">
            <div>
                <h2>Games</h2>

                <ul>
                    <li><a href="#/game1/">Game 1: Nouns</a></li>
                    <li><a href="#/game2/">Game 2: Determiners, Articles, and Pronouns </a></li>
                    <li>Game 3: Prepositions</li>
                    <li>Game 4: Verbs</li>
                    <li>Game 5: Conjunctions</li>
                </ul>
            </div>
        </div>
    </header>


</div>