<div class="game-challenge-area">
    <div class="container-fluid">

        <h2>Challenge book</h2>


        <div class="row">
            <div class="col-md-9">
                <section class="game-area" ng-controller="Game1ChallengeTabsController">
                    <tabset class="tabs-left">
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" ng-click="changeTab()">
                            <div class="task-tab-content" id="{{'tab_' + tab.taskNumber}}">

                                <h5>Task:</h5>

                                <p>Find <span class="tab-counter">{{ tab.counter }}</span> different
                                    <span class="part-of-speech">{{ tab.title }}</span> in the paragraph <span class="challenge">{{ tab.challenge }}</span>.
                                </p>

                                <hr>

                                <div>
                                    <button class="btn btn-primary btn-start" ng-click="startChallenge('tab_' + tab.taskNumber, tab.timer)">Start</button>
                                    <div class="start-challenge">


                                        <p class="text">
                                            <a ng-repeat="word in words" id="{{'word_' + tab.taskNumber + '_' + $index}}" class="word {{word.btnStatus}}" data-partOfSpeech="{{ word.partOfSpeech }}" ng-click="lookingFor(tab.title, tab.partOfSpeech, tab.taskNumber, word.partOfSpeech, $index) ">{{word.wordItself}}</a>
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </section>
            </div>

            <div class="col-md-3">

                <div class="score-panel">
                    <div class="score-screen"></div>
                    <div class="power-btn"></div>
                </div>

                <p class="total-counter"><span class="total-current-score">0</span> <span class="total-current-score-slash">/</span> <span class="total-tab-counter">{{ totalCounter }}</span></p>

                <div class="set-timer">
                    <p class="timer" timer-plugin="{css_class: 'countdown', always_show_days: false, with_labels: true, with_seconds: true, with_separators: true, label_dd: '', label_hh: '', label_mm: 'M', label_ss: 'S', separator: ' ', separator_days: ',' }">0h 3m 0s</p>
                </div>


                <p><a class="btn btn-home" href="#/home">Home</a>
                    <a class="btn btn-practice" href="#/game1/practice">Practice</a></p>


            </div>
        </div>

    </div>
</div>

