<div class="container-fluid home">


    <header class="row">
        <div class="col-sm-12 home-header-area">
            <a href="#/home" ><button class="goToHome">=</button></a>

            <div class="home-header-area-content">
                <h2>Parts of Speech</h2>
                <p>(Determiners, Articles, Pronouns, Prepositions, Verbs, Conjunctions)</p>
            </div>
        </div>
    </header>

    <div class="row">

        <a href="#/game/practice">
            <div class="col-xs-6 home-practice-area">
                <h3>Practice</h3>
            </div>
        </a>
        <a href="#/game/challenge">
            <div class="col-xs-6 home-challenge-area">
                <h3>Challenge</h3>
            </div>
        </a>

    </div>


</div>