<div>
    <div class="modal-header modal-header-positive">
        <h3 class="modal-title modal-title-positive"><span class="glyphicon glyphicon-star"></span> Congratulations! <span class="glyphicon glyphicon-star"></span></h3>
    </div>
    <div class="modal-body">
        <div class="message">
            <p>You found all</p>
            <p class="feedbackMsg">{{ message }}</p>
            <p>Try the next task now!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Try Next Task</button>
    </div>

</div>

