<div>
    <div class="modal-header modal-header modal-header-negative">
        <h3 class="modal-title modal-title modal-title-negative"><span class="glyphicon glyphicon-time"></span> Out of time.. <span class="glyphicon glyphicon-time"></span></h3>
    </div>
    <div class="modal-body">
        <div class="message">
            <p class="feedbackMsg">{{ message }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="okTryAgain()">Try Again</button>
    </div>

</div>

