<div class="game-practice-area"><div class="container" ng-controller="Game1PracticeTabsController">
    <h2>Practice</h2>

    <div class="game-area">
        <tabset class="tabs-right">
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" ng-click="changeTab()">
                <div class="task-tab-content">
                    <h5>Task:</h5>

                    <p>Find <span class="tab-counter">{{ tab.counter }}</span> different <span class="part-of-speech">{{ tab.title }}</span> in the paragraph.</p>
                    <p class="part-of-speech-definition">{{tab.definition}}</p>
                    <hr>
                    <p class="text">
                        <a ng-repeat="word in words" id="{{'word_' + tab.taskNumber + '_' + $index}}" class="word {{word.btnStatus}}" data-partOfSpeech="{{ word.partOfSpeech }}" ng-click="lookingFor(tab.title, tab.partOfSpeech, tab.taskNumber, word.partOfSpeech, $index) ">{{word.wordItself}}</a>
                    </p>
                    <p class="counter"><span class="current-score">0</span> / <span class="tab-counter">{{ tab.counter }}</span></p>
                </div>
            </tab>
        </tabset>
    </div>

    <p><a class="btn btn-default btn-lg" href="#/home">Home</a></p>


</div>
</div>

