<div class="game-challenge-area">
    <div class="container-fluid">
        <h2>Challenge</h2>

        <div class="row">
            <div class="col-lg-9 col-md-8">
                <section class="game-area">
                    <tabset class="tabs-left disable-not-active">
                        <tab ng-repeat="section in sections" heading="{{section.title}}" active="section.active" disabled="section.disabled" ng-click="changeTab()" id="tab_{{section.partOfSpeech}}">

                            <div class="task-tab-content" id="{{section.partOfSpeech}}">
                                <div>

                                    <button class="btn btn-start" ng-click="startChallenge()" type="button">
                                        <span>Task:</span><br>
                                        <span class="task-description">Complete ALL the tasks within the given time.</span><br>
                                        Start

                                    </button>


                                    <div class="start-challenge">

                                        <p>Find <span class="total-number-of-instances">{{ getTotalNumberOfInstance(section.partOfSpeech) }}</span> different
                                            <span class="part-of-speech">{{ section.title }}</span> in the paragraph.
                                        </p>

                                        <hr>

                                        <text-words></text-words>

                                    </div>
                                </div>


                            </div>
                        </tab>
                    </tabset>
                </section>
            </div>

            <div class="col-lg-3 col-md-4">

                <div class="i-pad">
                    <div class="device-screen"></div>
                    <div class="device-btn"></div>
                </div>

                <div class="display-scores">


                    <p>Score:</p>
                    <dl class="score-sections" id="score-{{section.partOfSpeech}}" ng-repeat="section in sections">
                        <dt>{{ section.title }}:</dt>

                        <dd class="section-score">
                            <span class="section-score-current">0</span>
                            <span class="total-current-score-slash">/</span>
                            <span class="total-number-of-instances total-number-for-the-section">{{ getTotalNumberOfInstance(section.partOfSpeech) }}</span>
                        </dd>

                    </dl>
                    <hr>

                    <p>Total:</p>

                    <p class="total-score">
                        <span class="total-current-score">0</span>
                        <span class="total-current-score-slash">/</span>
                        <span class="total-score-all-sections ">{{ getTotalNumberFromAllSections('.total-number-for-the-section') }}</span>
                    </p>

                </div>

                <div class="display-timer">
                    <p>Timer:</p>


                    <div id="start-stop-timer" class="set-timer">
                        <p class="timer">
                            <span class="initialTimer"></span>
                            <timer autostart="false" class="countdown" countdown="getTimerForASection(getTotalNumberFromAllSections('.total-number-for-the-section'), 10)" interval="1000" finish-callback="callbackTimer.finished()">{{ countdown }} <span class="unit">s</span>
                            </timer>
                          </p>


                        <!--Hidden Button -->
                        <button id="start-stop-btn" class="btn" onclick="stopResumeTimer('start-stop-timer', this)" type="button">Start</button>

                    </div>


                </div>


                <p class="nav-buttons">


                    <a class="btn btn-home" href="#/game:{{getSectionId()}}">Home</a>
                    <a class="btn btn-practice" href="#/game/practice">Practice</a>
                </p>


            </div>
        </div>

    </div>
</div>

