<div class="game-practice-area">
    <div class="container-fluid">
        <h2>Practice</h2>

        <div class="row">
            <div class="col-lg-10 col-md-9">
                <div class="game-area">
                    <tabset class="tabs-left">
                        <tab ng-repeat="section in sections" heading="{{section.title}}" active="section.active" disabled="section.disabled" ng-click="changeTab()">

                            <div class="task-tab-content" id="{{section.partOfSpeech}}">

                                <h5>Task:</h5>

                                <p>Find <span class="total-number-of-instances">{{ getTotalNumberOfInstance(section.partOfSpeech) }}</span> different <span class="part-of-speech">{{ section.title }}</span> in the paragraph.
                                </p>

                                <p class="btn-openDefinition" ng-click="openDefinition()">{{ showHideDefinition ? "Show Definition" : "Hide Definition"}}</p>
                                <div ng-include="getTemplateUrl(section.partOfSpeech)" class="definition panel panel-default"></div>

                                <hr>


                                <text-words></text-words>


                                <p class="score-label">Score:</p>
                                <p class="score"><span class="current-score">0</span> <span class="current-score-slash">/</span> <span class="current-score-tab-counter">{{ getTotalNumberOfInstance(section.partOfSpeech) }}</span>
                                </p>

                            </div>

                        </tab>
                    </tabset>
                </div>

            </div>


            <div class="col-lg-2 col-md-3">
                <div class="i-phone">
                    <div class="device-screen"></div>
                    <div class="device-btn"></div>
                </div>
                <p class="nav-buttons"><a class="btn btn-home" href="#/game">Home</a>
                    <a class="btn btn-challenge" href="#/game/challenge">Challenge</a></p>

            </div>
        </div>


    </div>
</div>

