<p><strong>Definition:</strong> a word that joins together sentences, clauses, phrases, or words.</p>
<p>Coordinating conjunctions include: for, and, nor, but, or, yet, so. You can use the acronym FANBOYS to remember these seven words.</p>
<p>
    There are lots of subordinating conjunctions. Some examples include: after, although, because, as long as, now that, since, unless, while, where, if, once, etc.
</p>
<p>
    Correlative conjunctions come in pairs, and you have to use both of them in different places in a sentence to make them work. They get their name from the fact that they work together (co-) and relate one sentence element to another. Correlative conjunctions include pairs like “both/and,” “whether/or,” “either/or,” “neither/nor,” “not/but” and “not only/but also.”
</p>