<div>
    <p><strong>Definition:</strong> a modifying word that determines the kind of reference a noun or noun group has. Determiners include the following common types:</p>

    <ul>
        <li>Articles: a/an, the</li>
        <li> Demonstratives: this, that, these, those</li>
        <li> Possessives: my, your, his, her, its, our, their, x’s (possessive ’s)</li>
        <li> Quantifiers: (a) few, fewer, (a) little, many, much, more, most, some, any, etc.</li>
        <li> Numbers: one, two, three, etc.</li>
    </ul>
</div>
