<div>
    <p><strong>Definition:</strong> a word that can function by itself as a noun phrase and that refers either to the participants in the discourse (e.g., I, you ) or to someone or something mentioned elsewhere in the discourse (e.g., she, it, this ). Types of pronouns include:</p>
    <p>Personal: take the place of common and proper nouns</p>
    <ul>
        <li> First person singular: I, me</li>
        <li> First person plural: we, us</li>
        <li> Second person: you</li>
        <li> Third person singular: she, her, he, him, it</li>
        <li> Third person plural: they, them</li>
    </ul>
    <p>Relative: relate the subordinate adjective clauses to the rest of the sentence</p>
    <ul>
        <li> That, which, who, whom, whose, whichever, woever, whomever</li>
    </ul>
    <p>
        Demonstrative: represent a thing or things
    </p>
    <ul>
        <li> Nearby singular: this</li>
        <li> Nearby plural: these</li>
        <li> Far away singular: that</li>
        <li> Far away plural: those</li>
    </ul>

    <p>Indefinite: refers to something that is unspecified</p>
    <ul>
        <li> Singluar: anybody, anyone, anything, each, either, everybody, everyone, everything, neither, nobody, no one, nothing, one, somebody, something, someone</li>
        <li> Plural: both, few, many, several</li>
        <li> Singular or plural: all, any, most, none, some</li>
    </ul>
    <p>Reflexive: end in self or selves</p>
    <ul>

        <li> First person: myself / ourselves</li>
        <li> Second person: yourself / yourselves</li>
        <li> Third person: himself, herself, itself / themselves</li>
    </ul>
    <p>Interrogative: used to ask questions</p>
    <ul>
        <li> What, who, which, whom, whose</li>
    </ul>

</div>